<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Caisse</title>
	<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
	<link rel="shortcut icon" href="{$url_base}public/image/favicon.ico">
</head>

	 <div class="nav navbar navbar-default navbar-fixed-top">
      <ul class="nav navbar-nav">
        <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
        <li><a href="{$url_base}Compteur/index">Accueil </a></li>
        <li><a href="{$url_base}Consommation/facture">Générer Factures </a></li>
        <li><a href="{$url_base}Facture/payer">Payer une Facture </a></li>
        <li><a href="{$url_base}Compteur/couper">Couper un Compteur </a></li>
      </ul>
    </div>
<body>
	<h1 style="text-align: center; margin-top: 100px">Gestion Reglement</h1>

	<p style="text-align: center; margin-left: 80px; margin-right: 80px;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</body>
</html>