<html>
	<head>
		<meta charset="UTF-8">
		<title>Enregistrer Conso</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<link rel="shortcut icon" href="{$url_base}public/image/favicon.ico">
		
	</head>
	<body>
		<img src="{$url_base}public/image/logo.jpg" class="resize" />
		<div class="nav navbar navbar-default navbar-fixed-top">
			<ul class="nav navbar-nav">
				<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
				<li><a href="{$url_base}Compteur/index">Accueil </a></li>
				<li><a href="{$url_base}Compteur/add">Ajour d'un Compteur</a></li>
				<li><a href="{$url_base}Compteur/liste">Liste des Compteurs</a></li>
			</ul>
		</div>
		<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
			<div class="panel panel-info">
				<div class="panel-heading">ENREGISTREMENT CONSOMMATION</div>
				<div class="panel-body">			
							
					<form method="post" action="{$url_base}Compteur/saveconso">
						<div class="form-group">
							<label class="control-label">ID Compteur</label>
							<input class="form-control" type="text" name="idCompteur" id="idCompteur"/>
						</div>
						<div class="form-group">
							<label class="control-label">Consommation</label>
							<input class="form-control" type="text" name="indexCompteur" id="indexCompteur"/>
						</div>						
						<div class="form-group">
							<input class="btn btn-success" type="submit" name="valider" value="Envoyer"/>
							<a class="btn btn-danger" href="{$url_base}Compteur/index">Terminer/Annuler </a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>